<div [@routerTransition]>
    <app-page-header [heading]="'Transactions'" [icon]="'fa-table'"></app-page-header>
    <div class="row">

        <div class="col col-xl-6 col-lg-12">

            <div class="card mb-3">
                <div class="card-header">Transactions</div>
                <table class="card-body table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Beneficiary</th>
                        <th>Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-active">
                        <th scope="row">1</th>
                        <td>28.07.2019</td>
                        <td>Orange</td>
                        <td>$21.33</td>
                    </tr>
                    <tr class="table-success">
                        <th scope="row">2</th>
                        <td>28.07.2019</td>
                        <td>Carrefour</td>
                        <td>$34.33</td>
                    </tr>
                    <tr class="table-info">
                        <th scope="row">3</th>
                        <td>27.07.2019</td>
                        <td>Enel</td>
                        <td>$10</td>
                    </tr>
                    <tr class="table-warning">
                        <th scope="row">4</th>
                        <td>26.07.2019</td>
                        <td>Mega Image</td>
                        <td>$21.33</td>
                    </tr>
                    <tr class="table-danger">
                        <th scope="row">5</th>
                        <td>25.07.2019</td>
                        <td>Mega Image</td>
                        <td>$11.3</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
