<div [@routerTransition]>
    <h2 class="text-muted">Set your Goal</h2>
    
    <hr>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'primary'" [icon]="'fa-shopping-basket'" [label]="'Shopping'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'" [icon]="'fa-plane'" [label]="'Travel'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [icon]="'fa-glass'"  [label]="'Going out'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'danger'" [icon]="'fa-play'" [label]="'Hobbies'"></app-stat>
        </div>
    </div>
    <hr />
    
</div>
